In [1]:
print('20')

20

In [8]:
a=int(input('enter a num '))

enter a num 5

In [9]:
type(a)

int

In [10]:
int(a)

5

In [11]:
type(a)

int

In [12]:
b=str(a)

In [16]:
type(b)

str

In [17]:
c=int(b)
type(c)

int

In [24]:
#strings='pakisan'
for i in 'pakistan':
    print(i, end=' ')

p a k i s t a n

# String case

In [25]:
strings

'pakisan'

In [26]:
strings.upper()

'PAKISAN'

In [27]:
strings.lower()

'pakisan'

In [28]:
strings.title()

'Pakisan'

# doctionary

In [29]:
dictt={'Name':'Ghulam Qadir', 'Nic':4250145920147}

In [30]:
dictt

{'Name': 'Ghulam Qadir', 'Nic': 4250145920147}

In [31]:
len(dictt)

2

In [32]:
dictt['email']='abc@gmail'

In [33]:
dictt

{'Name': 'Ghulam Qadir', 'Nic': 4250145920147, 'email': 'abc@gmail'}

In [34]:
dictt['email']

'abc@gmail'

In [35]:
dictt['Name']

'Ghulam Qadir'

In [39]:
for key in dictt.keys():
    print(key, dictt[key])

Name Ghulam Qadir
Nic 4250145920147
email abc@gmail

In [40]:
for value in dictt.values():
    print(value)

Ghulam Qadir
4250145920147
abc@gmail

In [41]:
'Name' in dictt

True

In [42]:
students=[dictt]

In [43]:
students

[{'Name': 'Ghulam Qadir', 'Nic': 4250145920147, 'email': 'abc@gmail'}]

In [44]:
dictt2={'name':'afzal','Nic':4250145920147}

In [45]:
dictt2

{'name': 'afzal', 'Nic': 4250145920147}

In [46]:
students.append(dictt2)

In [47]:
students

[{'Name': 'Ghulam Qadir', 'Nic': 4250145920147, 'email': 'abc@gmail'},
 {'name': 'afzal', 'Nic': 4250145920147}]

# functions

In [48]:
def add():
    a=10
    b=13
    print(a+b)

In [49]:
add()

23

In [50]:
def add(a,b):
    print(a+b)

In [51]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [52]:
add(2,3)

5

In [59]:
def name(first,middle,last,*others):
    print(first,middle,last,others)

In [60]:
name('ghulam','qadir','depar')

ghulam qadir depar ()

In [61]:
name('ghulam','qadir','depar',13)

ghulam qadir depar (13,)

In [62]:
name('ghulam','qadir','depar',13,'age')

ghulam qadir depar (13, 'age')

# classes and objects

In [63]:
class Car():
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
        
    def desc(self):
        print(f'Your car is {self.make} , and its model is {self.model}, and year {self.year}')

In [64]:
car1=Car('Honda','sivic',2019)

In [66]:
car1.desc()

Your car is Honda , and its model is sivic, and year 2019

# Data files

In [72]:
with open('file.text','w') as file:
    file.write(' we are new to this ')

In [93]:
with open('file.text','r') as file:
    contents=file.read()
contents

' we are new to this THis is new append line 1 THis is new append line 2 THis is new append line 2 \n THis is new append line 2 \n THis is new append line 4 \n THis is new append line 4 \\n THis is new append line 5 THis is new append line 6 / '

In [94]:
contents

' we are new to this THis is new append line 1 THis is new append line 2 THis is new append line 2 \n THis is new append line 2 \n THis is new append line 4 \n THis is new append line 4 \\n THis is new append line 5 THis is new append line 6 / '

In [92]:
with open('file.text','a') as file:
    file.write('THis is new append line 6 / ' )

In [90]:
print('pakistan \n xindabad')

pakistan
 xindabad

# CSV

In [95]:
import csv

In [96]:
with open('a.csv','w',newline='') as f:  # Writing to a CSV file 
    data_handler= csv.writer(f,delimiter=',')
    data_handler.writerow(['Name','AGE','SEX'])
    data_handler.writerow(['GQ','37','Male'])
    data_handler.writerow(['Afzal','32','Male'])
    data_handler.writerow(['Sunny','28','Male'])

In [101]:
with open('a.csv','r') as f: # reading data
    contents=csv.reader(f)
    alist=[]
    for i in contents:
        alist+=i

In [102]:
alist

['Name',
 'AGE',
 'SEX',
 'GQ',
 '37',
 'Male',
 'Afzal',
 '32',
 'Male',
 'Sunny',
 '28',
 'Male']

In [103]:
with open('a.csv','r') as f:
    contents=csv.reader(f)
alist=[]
for i in contents:
    alist+=i

ValueError: I/O operation on closed file.

In [104]:
type(contents)

_csv.reader

In [106]:
contents.line_num

0

In [107]:
with open('a.csv','r') as f: # reading data file is open so it runs 
    contents=csv.reader(f)
    alist=[]
    for i in contents:
        print(i)

['Name', 'AGE', 'SEX']
['GQ', '37', 'Male']
['Afzal', '32', 'Male']
['Sunny', '28', 'Male']

In [108]:
with open('a.csv','r') as f: # reading data as file is closed will not runn
    contents=csv.reader(f)
    alist=[]
for i in contents:
    print(i)

ValueError: I/O operation on closed file.

In [1]:
alist=[2,4,6,8]

In [2]:
for i in alist:
    print(alist*2)

[2, 4, 6, 8, 2, 4, 6, 8]
[2, 4, 6, 8, 2, 4, 6, 8]
[2, 4, 6, 8, 2, 4, 6, 8]
[2, 4, 6, 8, 2, 4, 6, 8]

In [3]:
l=range('abc')

TypeError: 'str' object cannot be interpreted as an integer

In [4]:
l=range(10)

In [5]:
l

range(0, 10)

In [6]:
type(l)

range

In [8]:
for i in range(1,10):r=[x*2 for x in l]

In [9]:
r

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
range(1,10)

range(1, 10)

In [11]:
r=range(1,10,2)

In [12]:
r

range(1, 10, 2)